@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400&display=swap');

/* * {
    outline: 1px solid red;
} */

#indexgrid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    width: 100%;
}

.playergrid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

a {
    text-decoration: none;
}

.container {
    position: relative;
    margin: 0 auto;
}

h1 {
    font-family: "Bebas Neue";
}

h2 {
    font-family: "Open Sans", Helvetica, sans-serif;
}

#q1 {
    /* grid-row: 1/2;
    grid-column: 1/3; */
    position: absolute;
    top: 160px;
    left: 0px;
}

#q2 {
    position: absolute;
    top: 160px;
    left: 780px;
    text-align: right;
    min-width: 500px;
}

#q3 {
    position: absolute;
    top: 205px;
    left: 0px;
}

#q4 {
    position: absolute;
    top: 205px;
    left: 700px;
    margin: 0 auto;
    text-align: right;
    min-width: 578px;
}

.indeximg {
    z-index: -1;
}

body {
    width: 100%;
    margin: 0 auto;
}



main {
    width: 100%;
}

.wins {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 100%;
    font-size: 30px;
}

.H2Hs {
    grid-row: 1 / -1;
    grid-column: 2 / 3;
    font-size: 30px;
    margin: 0 auto;
    padding: 3px;
    text-align: center;
    width: 100%;
}

.losses {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    width: 100%;
    text-align: right;
    font-size: 30px;
}

.lossesul, .winsul {
    padding-top: 100px;
}


.bestmove {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    width: 100%;
}

.character {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 100%;
}

.bestmoveimg {
    width: 100%;
}

.characterimg {
    width: 100%;
}

.logo {
    width: 80px;
    height: 100%;
}

.footergrid, .headergrid {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}


#indexheader {
    border-bottom: 10px solid blue;
}

#indexfooter {
    border-top: 10px solid blue;
}

#maguireheader {
    border-bottom: 10px solid pink;
}

#maguirefooter {
    border-top: 10px solid pink;
}

#echoheader {
    border-bottom: 10px solid black;
}

#echofooter {
    border-top: 10px solid black;
}

.maguirelink {
    border-radius: 50%;
    border: 5px solid pink;
    padding-top: 27px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Bebas Neue";
}

.echolink {
    border-radius: 50%;
    border: 5px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 27px;
    font-family: "Bebas Neue";
    
}

.footerlinks {
    width: 80px;
    height: 100%;
    
}

ul {
    list-style-type: none;
}