div {
    /* background-color: gray; */
    /* margin: 0;
    padding: 0;
    border: 0; */
    text-align: center;
}

#hero {
    /* margin: 0;
    border: 0;
    padding: 0; */
    background-color: blue;
    width: 100%
}

.circle {
    border: 20px solid #3e3e3e;
    border-radius: 50%;
    width: 20%;
    margin: 4%;
    padding: 0;
}

body {
    margin: 0;
    background-color: gray;
    font-size: 0;
}

